@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Onest:wght@400&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    overflow-x: hidden;
    
    
}


:root {
    --text-color: #010309;
    --gap: 50px;
    --link-decoration: none;
    --Text-color-base: #03112B;
}



header {
    padding: 24px 50px;
    font-family: 'Onest', sans-serif;
    display: flex;
    align-items: center;
    /* gap: 276px; */
gap: 300px;
    border-bottom: 2px solid #E1E1E1;
}



header .logo {
    display: flex;
    align-items: center;
    /* justify-content: center; */

}


nav {
    display: flex;
    align-items: center;
    gap: var(--gap);




}




nav a {
    color: var(--Text-color);
    font-family: Onest;
    font-style: normal;
    font-weight: 500;
    line-height: 22.4px;
    text-decoration: var(--link-decoration);
    text-transform: capitalize;
    position: relative;
    padding: 10px 20px;
}


nav a::after {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background: #FF7F50;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
}

nav a.active::after {
    width: 100%;

}

nav .active {
    font-weight: 600;
}


 .work a {
    text-decoration: var(--link-decoration);
}

.work a button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #FF7F50;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.6s ease;
    text-transform: capitalize;
}

 .work a button:hover {
    background-color: #fff;
    color: #FF7F50;
    border: 1px solid #FF7F50;

}



/* Main */

/* FIRST SECTION */
.two_img{
    display: flex;
    gap: 10px;
    position: absolute;
 right: 2%;
 z-index: 1;
 top: 30%;
}
.two_img img{
    object-fit: contain;
    height: 10vh;
}
.first{
position: relative;
margin: 0;
padding: 0;
}
.second{
position: absolute;
right: 80%;
top: 100%;
}


.blog{
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;

position: relative;
}

.small_image{
    width: 100%;
    overflow: hidden;
    height: 500px;
}
.small_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
}

.stick_video{
    text-align: center;
    position: absolute;
    top: 39%;
    left: 40%;
    color: #FFF;
}
.stick_video h1{
    color: #FFF;
text-align: center;

font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
letter-spacing: 0.32px;
position: relative;
padding: 0;
margin: 0;

}
.stick_video img{
    position: absolute;
   margin-left: 20%;
   bottom: 65%;
   /* padding-bottom: 20%; */
}



.two_img2{
    display: flex;
    gap: 10px;
    position: absolute;
 left: 4%;
 z-index: 1;
bottom: 4%;
}
.two_img2 img{
    object-fit: contain;

    height: 10vh;
}

.round{
    position: absolute;
    bottom: 20%;
    left: 20%;
}
.round1{
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 70%;
}
/* Second section */

    .second_section{
        display: flex;
align-items: center;
/* justify-content: center; */
flex-direction: column;
gap: 34px;

padding: 110px 0px 50px 50px;
    }

    .three_div{
        display: flex;
align-items: center;
gap: 34px; 
margin: 0;

    }

    .div1{
        margin: 0;
        display: flex;
height: 600px;
flex-direction: column;
align-items: flex-start;
/* gap: 40px; */
width: 30%;
border-radius: 8px;
border: 1px solid  #E1E1E1;
background: #FFF;
    }
.div1 img{
    width: 100%;
    object-fit: contain;
}
    .inside_div{
        display: flex;
padding: 10px 16px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
    }
    .inside_div  p{
        line-height: 25px;
    }
    .inside_div h2{
        line-height: 30px;
font-size: 20px;
    }



    
/* THIRD SECTION */

.third_section{
    padding: 0px 50px 0px 50px;
    margin: 0;
    display: flex;
    gap: 34px;
    flex-direction: column;
}



.first_video{
    display: flex;
align-items: center;
gap: 34px;
}

.one_video{
margin: 0;
padding: 0;
position: relative;
}
.one_video .lambo{
    width: 394px;
height: 304px;
}
.pause{
display: flex;
flex-direction: column;
align-items: center;
gap: 30px;
font-size: 14px;
bottom: 10%;
left: 7%;
position: absolute;
color: white;
}





/* LAST SECTION */
.last_section{
    margin: 50px 0px; 
    width: 100%;

}

.video_container{
    /* margin-top: 10%; */
    width: 1440px;
    overflow: hidden;
height: 392px;
position: relative;

}
.video_container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);

}

.content{
    color: #FFF;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;


    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 35%;
    top: 178rem;

z-index: 1;

}




/* FOOTER */

footer{

    padding: 30px 50px;
    font-family: 'Onest', sans-serif;
    display: flex;
    flex-direction: column;
    background: var(--Text-color-base);
    gap: 50px;
    color: white;
    font-family: Onest;
}

.footer_div1{
    display: flex;
align-items: flex-start;
gap: 182px;
}

.tifi{
    display: flex;
flex-direction: column;
align-items: flex-start;
/* gap: 24px; */
text-align: left;
width: 30%;
}
.tv h1{
    color: #FFF;
    font-family: Ribeye;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.084px;

    
}

.tv{
    display: flex;
    align-items: center;
}

.follow{
    display: flex;
align-items:center;
gap: 24px;
}
.follow img{
    background: white;
    padding: 7px;
    border-radius: 50%;
 cursor: pointer;   
}


/* Links */
.links{
    display: flex;
justify-content: center;
align-items: flex-start;
gap: 144px;
}

.many{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 32px;
}
.hr{
    text-align: left;
    cursor: pointer;
}
.hr hr{
    width: 80px;
height: 2px;
border: none;
background-color: #FF7F50;
}

.all_links{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
}
.all_links a{
    text-decoration: none;
    color: #FFF;
    text-align: left;
}




footer input{
    
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;

        border: none;
        border-radius: 6px 0px 0px 6px;
        text-transform: capitalize;
}

