@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Onest:wght@400&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'montserrat';
    overflow-x: hidden;
}

:root {
    --text-color: #010309;
    --gap: 50px;
    --link-decoration: none;
    --Text-color-base: #03112B;
}



header {
    padding: 24px 50px;
    font-family: 'Onest', sans-serif;
    display: flex;
    align-items: center;
    /* gap: 276px; */
    gap: 300px;
    border-bottom: 2px solid #E1E1E1;
    overflow-x: hidden;
}



header .logo {
    display: flex;
    align-items: center;
    /* justify-content: center; */

}

.nav {
    display: flex;
    gap: var(--gap);
    flex-wrap: wrap;
}


.icon {
    display: none;
    color: black;
    font-size: 30px;
    flex-wrap: wrap;
}

.hamburger {
    display: none;

}

nav {
    display: flex;
    align-items: center;
    gap: var(--gap);




}




nav a {
    color: var(--Text-color);
    font-family: Onest;
    font-style: normal;
    font-weight: 500;
    line-height: 22.4px;
    text-decoration: var(--link-decoration);
    text-transform: capitalize;
    position: relative;
    padding: 10px 20px;
}


nav a::after {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background: #FF7F50;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
}

nav a.active::after {
    width: 100%;

}

nav .active {
    font-weight: 600;
}


.work a {
    text-decoration: var(--link-decoration);
}

.work a button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #FF7F50;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.6s ease;
    text-transform: capitalize;
}

.work a button:hover {
    background-color: #fff;
    color: #FF7F50;
    border: 1px solid #FF7F50;

}



/* main content */
main {
    overflow-x: hidden;
}

.section1 {
    padding: 80px 50px;
    font-family: 'Onest', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 106px;
    /* margin-left:0 ; */
    overflow-x: hidden;
}

.section_div1 {
    display: flex;
    align-items: center;
    gap: 90px;
}

.div1_project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    flex-direction: column;
    gap: 10px;

}

.div1_project h1 {
    color: var(--Text-color-60, #030E24);
    text-align: left;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 900;
    /* line-height: 67.2px; */
}

.div1_project span {
    color: #FF7F50;
}


.div1_project p {
    color: var(--Text-color-100, #010309);
    text-align: left;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.portfolio {
    display: flex;
    gap: 50px;
    align-items: center;
}

.div1_project .portfolio a {
    text-decoration: var(--link-decoration);
}

.portfolio a button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #FF7F50;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.6s ease;
    text-transform: capitalize;
}

.portfolio a button:hover {
    background-color: #fff;
    color: #FF7F50;
    border: 1px solid #FF7F50;
}

.portfolio .a button {
    background-color: #fff;
    color: #FF7F50;
    border: 1px solid #FF7F50;
}

.portfolio .a button:hover {
    background: #FF7F50;
    color: #fff;
}

/* Div_video */
.div2_video {
    display: flex;
    gap: 10px;
}

.div2_video div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.video2 {
    width: 200px;
    height: 252px;
    border-radius: 8px;
    filter: brightness(0.5);
    object-fit: cover;
}

.video1 {
    width: 200px;
    height: 264px;
    border-radius: 8px;
    object-fit: cover;

}

.video3 {
    width: 304px;
    height: 524px;
    border-radius: 8px;
    object-fit: cover;
}

/* .section_div2 */

.section_div2 {
    display: flex;
    align-items: center;
    gap: 250px;

}

.this_cube {
    margin-left: 130%;

}

.cube {
    position: relative;
}

.man1 {
    position: absolute;
    top: 126%;
    left: 4.5%;

}


.man2 {
    position: relative;
    left: 51.5%;
    top: 5.6rem;
    z-index: 1;

}











/* ABOUT */
.about {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    /* gap: 90px; */
}

.about h1 {
    color: var(--Text-color-base);
    text-align: left;
    font-family: 'Montserrat' sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    z-index: 1;
    position: relative;
    margin: 0;
    padding: 0;
}

.div_stick {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .stick {
    background: var(--Primary-color-base, #FF7F50);
    padding: 3px;
    width: 64px;
    transform: rotate(36.833deg);
    position: absolute;
    right: 40%;
    top: 150%;
} */

.about p {
    color: var(--Text-color-base);
    text-align: left;
    font-family: 'Onest', sans-serif;

    font-style: normal;

    line-height: 25.2px;
}



/* SECTION 2 */

.section2 {
    padding: 30px 50px 50px 50px;
    font-family: 'Onest', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--Text-color-base);
    gap: 50px;
}

/* .stick2 {
    background: var(--Primary-color-base, #FF7F50);
    padding: 3px;
    width: 64px;
    transform: rotate(36.833deg);
    position: absolute;
    left: 53%;
    top: 90.5rem;
} */


.div_stick h3 {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;

    font-style: normal;
    font-weight: 500;

}

.graphics {
    display: flex;
    align-items: center;
    gap: 56px;


}

.editing {
    padding: 32px 40px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--Grey-20, #CDCDCD);


}

.editing img {
    width: 45px;
}

.editing h2 {
    font-size: 20px;
    text-align: left;
}

.editing .learning {
    display: flex;
    align-items: center;
    color: #FF7F50;
    gap: 16px;
    font-weight: 900;
    transition: background-color 0.6s ease;

}



/* SECTION 3 */

.section3 {
    padding: 30px 50px;
    font-family: 'Onest', sans-serif;
    display: flex;
    flex-direction: column;
    background: white;
    gap: 50px;
    color: #03112B;
}

.long_stick {
    width: 100%;
    height: 32px;
    transform: rotate(19.368deg);

    position: absolute;
    background: #FF7F50;

}

/* .stick4 {
    background: var(--Primary-color-base, #FF7F50);
    padding: 3px;
    width: 64px;
    transform: rotate(36.833deg);
    position: absolute;
    left: 55.5%;
    top: 148.8rem;

} */


.div_stick1 h3 {
    text-align: center;
    font-family: Montserrat;

    font-style: normal;
    font-weight: 500;

}

.div_stick1 h1 {

    text-align: center;
    position: relative;
    z-index: 1;

}

.editing1 {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 50%;
    border-radius: 8px;
    border: 1px solid #E1E1E1;
    background: #fff;
    height: 80vh;
}


.editing1 .lambor {
    width: 100%;
    /* height: 90%; */
    border-radius: 10px;
    object-fit: cover;
    filter: brightness(0.9);
}

.graphics1 {
    display: flex;
    align-items: center;
    gap: 40px;


}

.launch h2 {
    margin: 0;
}

.launch {
    display: flex;
    flex-direction: column;
    padding: 25px 25px 0px 25px;

}

.editing1 p {
    line-height: 25px;
    /* padding: 0px 25px 0px 25px; */

}

.big_stick {
    width: 100%;
    height: 32px;
    transform: rotate(19.368deg);
    flex-shrink: 0;
    position: absolute;
    background: #FF7F50;

}



/* client section */

.client_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    color: #03112B;
}

/* .stick5 {
    background: var(--Primary-color-base, #FF7F50);
    padding: 3px;
    width: 64px;
    transform: rotate(36.833deg);
    position: absolute;
    margin-left: 18%;
    top: 238rem;

} */


.div_stick2 h3 {
    text-align: left;
    font-family: Montserrat;
    text-align: center;
    font-style: normal;
    font-weight: 500;

}

.div_stick2 h1 {
    font-size: 25px;
    text-align: center;
    position: relative;
    z-index: 1;
}

/* client part now */
.client {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.client1 {
    display: flex;
    align-items: center;
    gap: 80px;
}

.first_client {
    display: flex;
    padding: 20px 40px;
    align-items: center;
    gap: 32px;
    background: #FFF;
    box-shadow: 0px 0px 24px -3px rgba(30, 30, 30, 0.09);
    width: 50%;
    height: 50vh;
    text-align: left;
}

/* .orange_cube1 {
    position: absolute;
    left: 28%;
    top: 269rem;

} */

/* .orange_cube2 {
    position: absolute;
    top: 284.5rem;
    right: 30%;
} */

.star {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 0px; */
}

.star h2 {
    text-align: left;
    margin: 0;
    padding: 0;
}



/* LAST SECTION */
.last_section {
    margin: 50px 0px;
    width: 100%;

}

.video_container {
    /* margin-top: 10%; */
    width: 1440px;
    overflow: hidden;
    height: 392px;
    position: relative;

}

.video_container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);

}

.content {
    color: #FFF;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 30%;
    top: 295rem;
    z-index: 1;

}

/* FOOTER */

footer {
    overflow-x: hidden;
    padding: 30px 50px;
    font-family: 'Onest', sans-serif;
    display: flex;
    flex-direction: column;
    background: var(--Text-color-base);
    gap: 50px;
    color: white;
    font-family: Onest;
}

.footer_div1 {
    display: flex;
    align-items: flex-start;
    gap: 182px;
}

.tifi {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 24px; */
    text-align: left;
    width: 30%;
}

.tv h1 {
    color: #FFF;
    font-family: Ribeye;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.084px;


}

.tv {
    display: flex;
    align-items: center;
}

.follow {
    display: flex;
    align-items: center;
    gap: 24px;
}

.follow img {
    background: white;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}


/* Links */
.links {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 144px;
}

.many {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.hr {
    text-align: left;
    cursor: pointer;
}

.hr hr {
    width: 80px;
    height: 2px;
    border: none;
    background-color: #FF7F50;
}

.all_links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.all_links a {
    text-decoration: none;
    color: #FFF;
    text-align: left;
}




footer input {

    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;

    border: none;
    border-radius: 6px 0px 0px 6px;
    text-transform: capitalize;
}





/* MEDIA QUERRY */

/* 1355 * 631 */
@media screen and (max-width:1321px) {
    body {
        width: 100%;
        overflow-x: hidden;
    }

    .div_cube .man1 {
        top: 52rem;
    }

    .content {
        top: 290rem;
    }

    .editing1 {
        height: 90vh;
    }
}

/* screen 1301 */
@media screen and (max-width:1301px) {
    header {
        gap: 200px;
    }

    nav {
        gap: 25px;
    }

}

/* screen 1095px */
@media screen and (max-width:1095px) {
    header {
        gap: 100px;
        justify-content: center;

    }

    nav {
        gap: 25px;
    }

    .div1_project h1 {
        font-size: 35px;
    }


    /* section_div2 */
    .div_cube .man1 {
        top: 50rem;
    }

    .launch h2 {
        font-size: large;
    }

    .editing1 {
        height: 100vh;
    }

    .first_client {
        width: 50%;
        height: 60vh;

    }

    .client {
        gap: 50px;
    }

    .client1 {
        gap: 50px;
    }

    .content {
        top: 300rem;
    }
}


/*screen 1071 */
@media screen and (max-width:1071px) {
    .first_client {
        padding: 20px 20px;
    }
}




/* screen 1061px */
@media screen and (max-width:1061px) {
    .launch h2 {
        font-size: large;
    }

}


/* screen 1043px */
@media screen and (max-width:1043px) {



    .div1_project h1 {
        font-size: 30px;
    }

    .div_cube .man1 {
        top: 53rem;
    }

    .content {
        top: 306rem;
    }

}



/* screen 988 */
@media screen and (max-width:988px) {
    header nav {
        flex-wrap: wrap;

    }

    header {
        gap: 200px;
    }

    .div_cube .man1 {
        top: 55rem;
    }
}



/* screen 925px */
@media screen and (max-width:925px) {
    .section1 {
        gap: 60px;
    }

    .section_div1 {
        flex-direction: column;

    }

    .section_div2 {
        flex-direction: column;
        gap: 150px;
    }



    .video1 {
        width: 400px;
    }

    .video2 {
        width: 400px;
    }

    .video3 {
        width: 400px;
    }


    .section_div2 {
        gap: 60px;
        align-items: flex-start;
    }



    .div_cube .man1 {
        top: 70rem;
        left: 6%;
    }

    .cube {
        bottom: 18rem;
    }

    .this_cube {
        margin-left: 100%;
        margin-top: 5%;
    }

    .man2 {
        width: 350px;
        top: 7rem;
        left: 9rem;
    }


    /* <!-- CLIENT SECTION --> */
    .client1 {
        flex-direction: column;
    }

    .first_client {
        width: 90%;
        height: 50vh;
        padding: 20px 40px;
    }

    #sarah {
        display: none;
    }



    /* last section */
    .content {
        top: 340rem
    }



    /* Footer */
    .footer_div1 {
        gap: 100px;
    }

    .links {
        gap: 50px;
    }
}



/* screen 870*/
@media screen and (max-width:870px) {
    header {
        gap: 500px;
        position: fixed;
        background-color: #FFF;
        z-index: 4;
        width: 100%;
        padding: 24px 150px 24px 80px;
    }

    .nav {
        display: none;

    }

    .icon {
        display: block;
        color: black;
        cursor: pointer;
    }

    .hamburger {
        position: fixed;
        z-index: 5;
        background-color: rgba(255, 255, 255, 0.8);
        width: 100%;
        height: 100%;
        top: 80px;
        backdrop-filter: blur(2px);



    }

    .hamburger nav {
        flex-direction: column;
        font-size: larger;
        background-color: white;
        width: 90%;
        margin-left: 25%;
        height: 100%;
        left: 0;
        gap: 40px;
    }

    /* main */
    main {
        padding-top: 7%;

    }

    /* section1 */
    .video1 {
        width: 300px;
    }

    .video2 {
        width: 300px;
    }

    .video3 {
        width: 300px;
    }



    /*  */
    .div_cube .man1 {
        top: 65rem;
        left: 6%;
    }

    .cube {
        bottom: 18rem;
    }

    .this_cube {
        margin-left: 100%;
        margin-top: 5%;
    }

    .man2 {
        width: 350px;
        top: 7rem;
        left: 9rem;
    }


    /* Our Services */
    #none {
        display: none;
    }

    .editing1 {
        width: 100%;
        height: 50%;
        gap: 20px;
        padding-bottom: 20px;
    }

    #none1 {
        display: none;
    }

    /* last_div */
    .content {
        top: 330rem;
        left: 25%
    }
}

/* screen 822 */
@media screen and (max-width:822px) {
    .div_cube .man1 {
        top: 67rem;
        left: 6%;
    }


    header {
        gap: 440px;
        padding: 24px 120px 24px 80px;
    }

    .content {
        top: 327rem;

    }
}

/* screen 708 */

@media screen and (max-width:708px) {
    header {
        gap: 400px;
        padding: 24px 120px 24px 80px;
    }

    .div_cube .man1 {
        top: 68rem;
        left: 6%;
    }

    .content {
        top: 323rem;
        left: 20%
    }

}



/* screen 682 */
@media screen and (max-width:682px) {
    header {
        gap: 350px;
        padding: 24px 120px 24px 80px;
    }


    /* section1 */
    .video1 {
        width: 250px;
    }

    .video2 {
        width: 250px;
    }

    .video3 {
        width: 250px;
    }



    /*  */
    .div_cube .man1 {
        /* top: 65rem; */
        left: 6%;
    }

    .cube {
        right: 4%;

        bottom: 18rem;
    }

    .this_cube {
        margin-left: 85%;
        margin-top: 5%;
    }

    .man2 {
        width: 350px;
        top: 7rem;
        left: 5rem;
    }

    .content {
        top: 320rem;
        left: 15%
    }


    /* footer */
    .footer_div1 {
        flex-direction: column;
        gap: 50px;
    }

    .tifi {
        width: 100%;

    }

    .tifi p {
        line-height: 25px;
    }

}


/* screen 602 */
@media screen and (max-width:602px) {
    header {
        gap: 300px;
        padding: 24px;
    }

    .first_client {
        width: 100%;

    }

}


/* screen 560 */
@media screen and (max-width:560px) {

    /*  */
    .div_cube .man1 {
        top: 61rem;
        left: 6%;
        width: 350px;
        height: 350px;
    }

    .cube {
        right: 4%;

        bottom: 18rem;
    }

    .this_cube {
        margin-left: 85%;
        margin-top: 5%;
    }

    .man2 {
        width: 350px;
        top: 7rem;
        left: 2rem;
    }


    /* section1 */
    .video1 {
        width: 200px;
        height: 200px;
    }

    .video2 {
        width: 200px;
        height: 200px;
    }

    .video3 {
        width: 200px;
        height: 410px;
    }


    .content {
        top: 320rem;
        left: 8%;
    }

    .client1 .first_client {
        padding: 150px 40px;
    }

    .star p {
        width: 100%;
    }
}



/* screen 526 */
@media screen and (max-width:526px) {
    .cube {
        right: 4%;
        bottom: 2rem;
    }

    .this_cube {
        margin-left: 0%;
        left: 22rem;
        margin-top: 17rem;

        position: relative;
        float: inline-start;
    }

    .man2 {
        width: 350px;
        top: 0%;
        left: 0%;
    }

    .content {
        top: 315rem;
        left: 5%;
    }


}


/* screen 521 */
@media screen and (max-width:521px) {
    header {
        gap: 210px;
    }


    .content {
        top: 360rem;
        width: 80%;
        align-items: center;
        left: 3rem;
    }

    .content .work button {
        width: 100%;
        margin-right: 5rem;
    }

    .content h1 {
        text-align: center;

        font-size: 30px;
    }

    .div_cube {
        display: none;
    }

    .this_cube {
        display: none;
    }

    .first_client {
        padding: 0px 40px;
        height: 120vh;
        width: 80%;
        padding: 0px;
        align-items: flex-start;
        flex-direction: column;
    }

}

/* screen 455 */
@media screen and (max-width:455px) {

    .video1 {
        width: 150px;
        height: 200px;
    }

    .video2 {
        width: 150px;
        height: 200px;
    }

    .video3 {
        width: 200px;
        height: 410px;
    }

    .first_client {
        /* height: 120vh; */
        width: 100%;

    }


    .content {
        top: 337rem;

    }

}

/* screen 428 */
@media screen and (max-width:428px) {
    body {
        max-width: 100%;
        margin: 0;
    }
*{
    /* margin: 0; */
    max-width: 100%;
}
    header {
        gap: 115px;
        padding: 24px 0px;
        max-width: 100%;
    }

 

    .section2 {
        /* padding: 30px 0px 50px 0px; */
        max-width: 100%;
        /* margin: 0%; */

    }
}