body{
    /* padding: 10%; */
    margin: 0;
    box-sizing: border-box;
    background: black;


}

div{
    background-image: url('blog_images/blog.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:    cover;
    width: 100%;
    height: 70vh;
}